#dg-card{
  font-size: 13px;
  line-height: 15px;
  font-family: 'courier', monospace;
  color:#333;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
}
#dg-card p{
  margin-bottom: 5px;
  color:#fff;
  min-width: 150px;
}
#dg-card a,
#dg-card span{
  color: #fff;
  padding: 3px 12px 4px 12px;
  background: #480086;
  border-radius: 15px;
  display: block;
}
#dg-card .active span{
  color:#fff;
  background: #ff336a;
}
#dg-card .preview a{
  transition: background-color 0.5s ease;
  background: #009afa;
}
#dg-card .preview a:hover{
  background: #007ade;
}
